﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="InvoicesShared.aspx.cs" Inherits="SrralleIndiaNote.InvoicesShared" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <div>
        <asp:ScriptManager runat="server" ID="Scr">
        </asp:ScriptManager>
        <asp:UpdatePanel runat="server" ID="upl">
            <ContentTemplate>
                <div id="main-content">
                    <ul class="nav nav-pills" id="myTab" role="tablist">
                        <li class="nav-item" runat="server" id="tabApproval">
                            <a class="nav-link" id="test-tab" data-toggle="tab" href="#test" role="tab" aria-controls="test" aria-selected="true">Received</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="information-tab" data-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="true">View</a>
                        </li>
                        <li class="nav-item" runat="server" id="tabNew">
                            <a class="nav-link" id="employee-tab" data-toggle="tab" href="#employee" role="tab" aria-controls="employee" aria-selected="true">New</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane show fade" id="test" role="tabpanel" aria-labelledby="test-tab">
                            <br />
                            <h4 class="mb-3">Accounts received List</h4>
                            <div style="text-align: left; margin-top: 50px; margin-left: 150px">
                                <span style="font-weight: bold;">Accounts Received:</span>
                                <asp:DropDownList ID="ddlAccountsAcknowledge" runat="server" class="select2" Width="200px" AutoPostBack="true" OnSelectedIndexChanged="ddlAccountsAcknowledge_SelectedIndexChanged">
                                    <asp:ListItem>Select</asp:ListItem>
                                    <asp:ListItem>All</asp:ListItem>
                                    <asp:ListItem>Recevied</asp:ListItem>
                                    <asp:ListItem>Not Received</asp:ListItem>
                                </asp:DropDownList>
                                
                                <span style="font-weight: bold;">Vendor name:</span>
                                <asp:DropDownList ID="ddlFilterApprovalVendor" runat="server" class="select2" Width="200px" Style="text-align: left;" AutoPostBack="true" OnSelectedIndexChanged="ddlFilterApprovalVendor_SelectedIndexChanged">
                                </asp:DropDownList>


                                <span style="font-weight: bold;">Invoice number:</span>
                                <asp:DropDownList ID="ddlFilterApprovalInvoice" runat="server" class="select2" Width="200px" Style="text-align: left;" AutoPostBack="true" OnSelectedIndexChanged="ddlFilterApprovalInvoice_SelectedIndexChanged">
                                </asp:DropDownList>


                                <span style="font-weight: bold;">PO number:</span>
                                <asp:DropDownList ID="ddlFilterApprovalPo" runat="server" class="select2" Width="200px" Style="text-align: left;" AutoPostBack="true" OnSelectedIndexChanged="ddlFilterApprovalPo_SelectedIndexChanged">
                                </asp:DropDownList>
                            </div>
                            <br />
                            <asp:GridView ID="gvApproval" runat="server" DataKeyNames="id" OnRowDataBound="gvApproval_RowDataBound"
                                OnRowEditing="gvApproval_RowEditing" OnRowCancelingEdit="gvApproval_RowCancelingEdit"
                                OnRowUpdating="gvApproval_RowUpdating" OnRowDeleting="gvApproval_RowDeleting"
                                EmptyDataText="Please select accounts received status." AutoGenerateEditButton="True" AutoGenerateDeleteButton="True" AutoGenerateColumns="False" Width="100%"
                                BackColor="White" BorderColor="#999999"
                                BorderStyle="Solid" BorderWidth="1px" CellPadding="3" ForeColor="Black" GridLines="Vertical"
                                OnPageIndexChanging="gvApproval_PageIndexChanging" PageSize="20" AllowPaging="True" EnableTheming="True">
                                <AlternatingRowStyle BackColor="#CCCCCC" />
                                <Columns>
                                    <asp:BoundField DataField="id" HeaderText="id" Visible="false" />
                                    <asp:BoundField DataField="supplier" HeaderText="Supplier">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="invoiceNo" HeaderText="Invoice No">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="invoiceDate" HeaderText="Invoice Date" DataFormatString="{0:dd/MM/yyyy}">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="invoiceAmount" HeaderText="Invoice Amount">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="materialReceivedDate" HeaderText="Material Received Date" DataFormatString="{0:dd/MM/yyyy}">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="poNumber" HeaderText="PO Number">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="poDeliveryDate" HeaderText="PO Delivery Date" DataFormatString="{0:dd/MM/yyyy}">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="delay" HeaderText="Delay" />
                                    <asp:BoundField DataField="submissionToAccountsDate" HeaderText="Submission To Accounts Date" DataFormatString="{0:dd/MM/yyyy}">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="remarks" HeaderText="Remarks" />
                                    <asp:TemplateField HeaderText="Accounts Received">
                                        <ItemTemplate>
                                            <asp:CheckBox ID="chkAcknowledge" runat="server" Enabled="false" Checked='<%# Convert.ToBoolean(Eval("accountsAcknowledge")) %>' />
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:CheckBox ID="chAcknowledge" runat="server" Checked='<%# Convert.ToBoolean(Eval("accountsAcknowledge")) %>' />
                                        </EditItemTemplate>
                                    </asp:TemplateField>
                                    <%--<asp:CheckBoxField DataField="accountsAcknowledge" HeaderText="Accounts Received" />--%>
                                </Columns>
                                <EditRowStyle CssClass="GridViewEditRow" />
                                <FooterStyle BackColor="#CCCCCC" />
                                <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
                                <PagerSettings Mode="NumericFirstLast" PreviousPageText="Previous" NextPageText="Next" FirstPageText="First" LastPageText="Last" PageButtonCount="10" />
                                <PagerStyle CssClass="Pager" HorizontalAlign="Center" />    
                                <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                                <SortedAscendingCellStyle BackColor="#F1F1F1" />
                                <SortedAscendingHeaderStyle BackColor="#808080" />
                                <SortedDescendingCellStyle BackColor="#CAC9C9" />
                                <SortedDescendingHeaderStyle BackColor="#383838" />
                            </asp:GridView>

                        </div>

                        <div class="tab-pane show fade" id="information" role="tabpanel" aria-labelledby="information-tab">
                            <br />
                            <h4 class="mb-3">Submited Invoices</h4>
                            <div style="text-align: left; margin-top: 50px; margin-left: 150px">
                                <%--<span style="font-weight: bold;">Search:</span>
                        <input type="text" id="txtSearch" name="txtSearch" placeholder="    type search text" maxlength="50" style="height: 25px; font: 100" />&nbsp;--%>
                                <span style="font-weight: bold;">Accounts Status:</span>
                                <asp:DropDownList ID="ddlStatus" runat="server" class="select2" Width="200px" Style="text-align: left;" AutoPostBack="true" OnSelectedIndexChanged="ddlStatus_SelectedIndexChanged">
                                    <asp:ListItem>Select</asp:ListItem>
                                    <asp:ListItem>All</asp:ListItem>
                                    <asp:ListItem>Approved</asp:ListItem>
                                    <asp:ListItem>Rejected</asp:ListItem>
                                </asp:DropDownList>


                                <span style="font-weight: bold;">Vendor name:</span>
                                <asp:DropDownList ID="ddlFilterVendor" runat="server" class="select2" Width="200px" Style="text-align: left;" AutoPostBack="true" OnSelectedIndexChanged="ddlFilterVendor_SelectedIndexChanged">
                                </asp:DropDownList>


                                <span style="font-weight: bold;">Invoice number:</span>
                                <asp:DropDownList ID="ddlFilterInvoice" runat="server" class="select2" Width="200px" Style="text-align: left;" AutoPostBack="true" OnSelectedIndexChanged="ddlFilterInvoice_SelectedIndexChanged">
                                </asp:DropDownList>


                                <span style="font-weight: bold;">PO number:</span>
                                <asp:DropDownList ID="ddlFilterPO" runat="server" class="select2" Width="200px" Style="text-align: left;" AutoPostBack="true" OnSelectedIndexChanged="ddlFilterPO_SelectedIndexChanged">
                                </asp:DropDownList>
                            </div>
                            <br />
                            <asp:GridView ID="gvSubmittedInvoices" runat="server" DataKeyNames="id" OnRowDataBound="gvSubmittedInvoices_RowDataBound"
                                OnRowEditing="gvSubmittedInvoices_RowEditing" OnRowCancelingEdit="gvSubmittedInvoices_RowCancelingEdit"
                                OnRowUpdating="gvSubmittedInvoices_RowUpdating" OnRowDeleting="gvSubmittedInvoices_RowDeleting"
                                EmptyDataText="Please select accounts approve status." AutoGenerateEditButton="True" AutoGenerateDeleteButton="True" AutoGenerateColumns="False" Width="100%"
                                BackColor="White" BorderColor="#999999"
                                BorderStyle="Solid" BorderWidth="1px" CellPadding="3" ForeColor="Black" GridLines="Vertical"
                                OnPageIndexChanging="gvSubmittedInvoices_PageIndexChanging" PageSize="20" AllowPaging="True" EnableTheming="True">
                                <AlternatingRowStyle BackColor="#CCCCCC" />
                                <Columns>
                                    <asp:BoundField DataField="id" HeaderText="id" Visible="false" />
                                    <asp:BoundField DataField="supplier" HeaderText="Supplier">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="invoiceNo" HeaderText="Invoice No">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="invoiceDate" HeaderText="Invoice Date" DataFormatString="{0:dd/MM/yyyy}">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="invoiceAmount" HeaderText="Invoice Amount">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="materialReceivedDate" HeaderText="Material Received Date" DataFormatString="{0:dd/MM/yyyy}">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="poNumber" HeaderText="PO Number">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="poDeliveryDate" HeaderText="PO Delivery Date" DataFormatString="{0:dd/MM/yyyy}">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="delay" HeaderText="Delay" />
                                    <asp:BoundField DataField="submissionToAccountsDate" HeaderText="Submission To Accounts Date" DataFormatString="{0:dd/MM/yyyy}">
                                        <ControlStyle Width="100%"></ControlStyle>
                                    </asp:BoundField>
                                    <asp:BoundField DataField="remarks" HeaderText="Remarks" />
                                    <%--<asp:CheckBoxField DataField="approvedByAccounts" HeaderText="Approved" />--%>
                                    <asp:TemplateField HeaderText="Approve">
                                        <ItemTemplate>
                                            <asp:CheckBox ID="chkApprove" runat="server" Enabled="false" Checked='<%# Convert.ToBoolean(Eval("approvedByAccounts")) %>' />
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:CheckBox ID="chkApprove" runat="server" Checked='<%# Convert.ToBoolean(Eval("approvedByAccounts")) %>'
                                                OnCheckedChanged="chkApprove_CheckedChanged" AutoPostBack="true" />
                                        </EditItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Reject">
                                        <ItemTemplate>
                                            <asp:CheckBox ID="chkReject" runat="server" Enabled="false" Checked='<%# Convert.ToBoolean(Eval("rejectByAccounts")) %>' />
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:CheckBox ID="chkReject" runat="server" Checked='<%# Convert.ToBoolean(Eval("rejectByAccounts")) %>'
                                                OnCheckedChanged="chkReject_CheckedChanged" AutoPostBack="true" />
                                        </EditItemTemplate>
                                    </asp:TemplateField>
                                    <%--<asp:CheckBoxField DataField="rejectByAccounts" HeaderText="Reject"/>--%>
                                    <asp:TemplateField HeaderText="Comments By Accounts">
                                        <ItemTemplate>
                                            <asp:Label runat="server" TextMode="MultiLine" Text='<%# Eval("commentsByAccounts") %>'></asp:Label>
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:TextBox runat="server" TextMode="MultiLine" Text='<%# Eval("commentsByAccounts") %>'></asp:TextBox>
                                        </EditItemTemplate>
                                    </asp:TemplateField>

                                </Columns>
                                <EditRowStyle CssClass="GridViewEditRow" />
                                <FooterStyle BackColor="#CCCCCC" />
                                <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
                                <PagerSettings Mode="NumericFirstLast" PreviousPageText="Previous" NextPageText="Next" FirstPageText="First" LastPageText="Last" PageButtonCount="10" />
                                <PagerStyle CssClass="Pager" HorizontalAlign="Center" />
                                <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                                <SortedAscendingCellStyle BackColor="#F1F1F1" />
                                <SortedAscendingHeaderStyle BackColor="#808080" />
                                <SortedDescendingCellStyle BackColor="#CAC9C9" />
                                <SortedDescendingHeaderStyle BackColor="#383838" />
                            </asp:GridView>


                        </div>

                        <div class="tab-pane show fade" id="employee" role="tabpanel" aria-labelledby="employee-tab">
                            <br />
                            <h4 class="mb-3">Invoice Share</h4>
                            <asp:Panel ID="pnl_warning" runat="server" Visible="false">
                                <div class="alert alert-warning" role="alert" style="width: 100%">
                                    <asp:Label ID="labWarning" runat="server" Text=""></asp:Label>
                                </div>
                            </asp:Panel>
                            <asp:Panel ID="pnl_err" runat="server" Visible="false">
                                <div class="alert alert-danger" role="alert" style="width: 100%">
                                    <asp:Label ID="LabErr" runat="server" Text=""></asp:Label>
                                </div>
                            </asp:Panel>
                            <asp:GridView ID="gvInvoice" runat="server" ShowFooter="True"
                                AutoGenerateColumns="False" ShowHeaderWhenEmpty="True" OnRowCreated="gvInvoice_RowCreated" BackColor="White" BorderColor="#999999"
                                BorderStyle="Solid" BorderWidth="1px" CellPadding="3" ForeColor="Black" GridLines="Vertical">
                                <AlternatingRowStyle BackColor="#CCCCCC" />
                                <Columns>
                                    <asp:BoundField DataField="RowNumber" HeaderText="SL" />
                                    <asp:TemplateField HeaderText="Supplier">
                                        <ItemTemplate>
                                            <asp:DropDownList ID="ddlSupplier" Width="200px" class="select2 form-control custom-select" runat="server" AppendDataBoundItems="true">
                                                <asp:ListItem Value="-1">Select</asp:ListItem>
                                            </asp:DropDownList>
                                            <asp:RequiredFieldValidator ID="recddlSupplier" InitialValue="-1" Display="Dynamic" ValidationGroup="g1" Text="*" ErrorMessage="Required"
                                                ControlToValidate="ddlSupplier" runat="server"></asp:RequiredFieldValidator>
                                        </ItemTemplate>
                                        <FooterStyle />
                                        <FooterTemplate>
                                            <asp:ImageButton ID="lbAddNewRow" ImageUrl="/Image/add.png" runat="server" Style="width: 20px" OnClick="lbAddNewRow_Click"></asp:ImageButton>
                                        </FooterTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Invoice No">
                                        <ItemTemplate>
                                            <asp:TextBox Width="100px" ID="txtInvoiceNo" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Invoice Date">
                                        <ItemTemplate>
                                            <asp:TextBox Width="130px" ID="txtInvoiceDate" TextMode="Date" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Invoice Amount">
                                        <ItemTemplate>
                                            <asp:TextBox Width="100px" ID="txtInvoiceAmount" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Material Received Date">
                                        <ItemTemplate>
                                            <asp:TextBox Width="130px" ID="txtMaterialReceivedDate" TextMode="Date" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="PO Number">
                                        <ItemTemplate>
                                            <asp:TextBox Width="100px" ID="txtPoNumber" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="PO Delivery Date">
                                        <ItemTemplate>
                                            <asp:TextBox Width="130px" ID="txtPoDeliveryDate" TextMode="Date" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Submission To Accounts Date">
                                        <ItemTemplate>
                                            <asp:TextBox Width="130px" ID="txtSubmissionToAccountsDate" TextMode="Date" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Remarks">
                                        <ItemTemplate>
                                            <asp:TextBox Width="100px" ID="txtRemarks" runat="server" TextMode="MultiLine"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="ApprovedByAccounts" Visible="false">
                                        <ItemTemplate>
                                            <asp:TextBox Width="100px" ID="txtApprovedByAccounts" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="CommentsByAccounts" Visible="false">
                                        <ItemTemplate>
                                            <asp:TextBox Width="100px" ID="txtCommentsByAccounts" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField>
                                        <ItemTemplate>
                                            <asp:ImageButton ID="lbDel" runat="server" ImageUrl="/Image/minus.png" Style="width: 25px" OnClick="lbDel_Click"></asp:ImageButton>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                </Columns>
                                <FooterStyle BackColor="#CCCCCC" />
                                <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
                                <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                                <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                                <SortedAscendingCellStyle BackColor="#F1F1F1" />
                                <SortedAscendingHeaderStyle BackColor="#808080" />
                                <SortedDescendingCellStyle BackColor="#CAC9C9" />
                                <SortedDescendingHeaderStyle BackColor="#383838" />
                            </asp:GridView>

                            <br />
                            <div class="border-top">
                                <div class="card-body" style="text-align: right;">
                                    <asp:Button class="btn btn-primary" ID="btnSubmit" runat="server" OnClick="btnSubmit_Click" Text="Submit" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <asp:HiddenField ID="TabName" runat="server" />
            </ContentTemplate>
            <Triggers>
                <asp:AsyncPostBackTrigger ControlID="btnSubmit" EventName="Click" />
            </Triggers>

        </asp:UpdatePanel>

        <script type="text/javascript">
            $(function () {
                SetTabs();
            });
            var prm = Sys.WebForms.PageRequestManager.getInstance();
            if (prm != null) {
                prm.add_endRequest(function (sender, e) {
                    if (sender._postBackSettings.panelsToUpdate != null) {
                        SetTabs();
                    }
                });
            };
            function SetTabs() {
                var tabName = $("[id*=TabName]").val() != "" ? $("[id*=TabName]").val() : "test";
                $('#main-content a[href="#' + tabName + '"]').tab('show');
                $("#main-content a").click(function () {
                    $("[id*=TabName]").val($(this).attr("href").replace("#", ""));
                });
            };


        </script>

    </div>
</asp:Content>
