﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Vendor.aspx.cs" Inherits="SrralleIndiaNote.Vendor" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div>
        <asp:ScriptManager runat="server" ID="Scr">
        </asp:ScriptManager>
        <asp:UpdatePanel runat="server" ID="upl">
            <ContentTemplate>
                <div id="main-content">
                    <span style="display: block; border-block-color: #a65fff; border-top-width: 2px; border-top-style: solid; border-left-width: 2px; border-left-style: solid; border-bottom-width: 2px; border-bottom-style: solid; border-right-width: 2px; border-right-style: solid;">_New Vendor/Supplier
                        <div>
                            <asp:Panel ID="pnl_warning" runat="server" Visible="false">
                                <div class="alert alert-warning" role="alert" style="width: 100%">
                                    <asp:Label ID="labWarning" runat="server" Text=""></asp:Label>
                                </div>
                            </asp:Panel>
                            <asp:Panel ID="pnl_err" runat="server" Visible="false">
                                <div class="alert alert-danger" role="alert" style="width: 100%">
                                    <asp:Label ID="LabErr" runat="server" Text=""></asp:Label>
                                </div>
                            </asp:Panel>
                            <table class="w-100">
                                <tr>
                                    <td class="text-right">&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Enter Vendor/Supplier Name </td>
                                    <td>
                                        <asp:TextBox runat="server" ID="txtVendorName" /><asp:Button runat="server" ID="btnVendorSubmit" Text="Submit" OnClick="btnVendorSubmit_Click" /></td>
                                </tr>
                                <tr>
                                    <td class="text-right"></td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>

                        </div>
                    </span>

                    <div style="text-align: left; margin-top: 50px; margin-left: 150px">

                        <span style="font-weight: bold;">Vendor name:</span>
                        <asp:DropDownList ID="ddlFilterVendor" runat="server" class="select2" Width="200px" Style="text-align: left;" AutoPostBack="true" OnSelectedIndexChanged="ddlFilterVendor_SelectedIndexChanged">
                        </asp:DropDownList>
                    </div>
                    <br />
                    <asp:GridView ID="gvVendor" runat="server" DataKeyNames="id" OnRowDataBound="gvVendor_RowDataBound"
                        OnRowEditing="gvVendor_RowEditing" OnRowCancelingEdit="gvVendor_RowCancelingEdit"
                        OnRowUpdating="gvVendor_RowUpdating" OnRowDeleting="gvVendor_RowDeleting"
                        EmptyDataText="No Vendors..." AutoGenerateEditButton="True" AutoGenerateDeleteButton="True" AutoGenerateColumns="False" Width="100%"
                        BackColor="White" BorderColor="#999999"
                        BorderStyle="Solid" BorderWidth="1px" CellPadding="3" ForeColor="Black" GridLines="Vertical"
                        OnPageIndexChanging="gvVendor_PageIndexChanging" PageSize="25" AllowPaging="True" EnableTheming="True">
                        <AlternatingRowStyle BackColor="#CCCCCC" />
                        <Columns>
                            <asp:BoundField DataField="id" HeaderText="id" Visible="false" />
                            <asp:BoundField DataField="name" HeaderText="Vendor / Supplier Name " />

                        </Columns>
                        <EditRowStyle CssClass="GridViewEditRow" />
                        <FooterStyle BackColor="#CCCCCC" />
                        <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
                        <PagerSettings Mode="NumericFirstLast" PreviousPageText="Previous" NextPageText="Next" FirstPageText="First" LastPageText="Last" PageButtonCount="10" />
                        <PagerStyle CssClass="Pager" HorizontalAlign="Center" />
                        <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                        <SortedAscendingCellStyle BackColor="#F1F1F1" />
                        <SortedAscendingHeaderStyle BackColor="#808080" />
                        <SortedDescendingCellStyle BackColor="#CAC9C9" />
                        <SortedDescendingHeaderStyle BackColor="#383838" />
                    </asp:GridView>
                </div>

            </ContentTemplate>
            <Triggers>
                <%--<asp:AsyncPostBackTrigger ControlID="btnSubmit" EventName="Click" />--%>
            </Triggers>

        </asp:UpdatePanel>
    </div>
</asp:Content>
